/* Style the footer */
.signal-footer {
    position: fixed;
    width: 100%;
    bottom: 10px;
    
    font-size: 10px;
    text-align: center;
    z-index: 20;
}
.signal-footer a {
    color: darkgray;
}
.signal-footer a:hover {
    color: white;
}
.copy {
    z-index: 20;
    color:#555;
}
