@import "site.css"; 
@import "footer.css"; 



main {
    top: 180px;
    color: #ddd;
}

.index_title{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: x-large;
}

.welcome {
    margin-left: 25%;
    margin-right: 25%;
}

.index_text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: larger;
}

.myc2 {
    color: orangered;
    border: solid 1px;
    padding: 5px 10px 5px 10px;
}

.login_button {
    margin-top: 50px;
    font-size: x-large;
    font-weight: 500;
}

@media screen and (max-width: 655px) {
    .welcome{
        margin-left: 3%;
        margin-right: 3%;
    }

    main {
        top: 120px;
    }
    
    .login_button {
        margin-top: 30px;
    }
}
