@import "site.css";
@import "footer.css";


.register_container {
    width: 85%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.error-footer {
    position: fixed;
    width: 800%;
    bottom: 200px;
    
    font-size: 18px;
    background-color: lightcoral;
    text-align: center;
    z-index: 10;
}
