body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**************** HEADER ****************/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; /* Ensure text and link stay on the same line */
}

.header h1 {
    margin: 0 auto; /* Center the title */
    text-align: left;
    margin-left: 30px;
    color: coral;;
}

.header a {
    margin-left: auto; /* Push the logout link to the far right */
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/**************** FORM (add signal) ****************/
.form-section {
    width: 25%;
    min-width: 140px;
    text-align: left; /* Align content to the left */
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
}

.form-section label, .form-section input, .form-section button {
    display: inline-block; /* Ensure label and input are on the same line */
    vertical-align: middle; /* Align label and input vertically */
    margin: 5px 0; /* Add consistent spacing */
}

.form-section label {
    width: 35%; /* Set a fixed width for labels to align inputs */
}

.form-section input {
    width: 30%; /* Adjust input width to fit next to the label */
    min-width: 80px; /* Ensure enough space for input */
}

.form-section button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Add space between input and button */
}

.form-section button:hover {
    background: #0056b3;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(81, 79, 79);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/**************** LIST (signal list) ****************/
.list-section {
    width: 80%;
}
.list-section table {
    width: 100%;
    border-collapse: collapse;
}
.list-section th, .list-section td {
    border: 1px solid #ddd;
    padding: 8px;
}
.list-section th {
    background-color: #f2f2f2;
}
.subrow td {
    padding-left: 40px; /* Add padding to the left of subitems */
}
.subrow {
    border: none;
    /* display: none; Ensure subitems are not visible when unexpanded */
}
