
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

input {
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

.signal-footer {
    position: fixed;
    width: 100%;
    bottom: 30px;
    
    font-size: 10px;
    background-color: lightcoral;
    text-align: center;
    z-index: 10;
}
