RewriteEngine on
# RewriteCond %{REQUEST_URI} !\.well-known/acme-challenge
# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Set the Time Zone of your Server
SetEnv TZ Europe/Stockholm

AddDefaultCharset UTF-8
<FilesMatch "\.(flv|gif|jpg|jpeg|png|ico)$">
Header set Cache-Control "max-age=2592000"
</FilesMatch>
